:root {
	---home-Background-Image: url(../assets/home/background-home-mobile.jpg);
	---technology-Background-Image: url(../assets/technology/background-technology-mobile.jpg);
	---destination-Background-Image: url(../assets/destination/background-destination-mobile.jpg);
	---crew-Background-Image: url(../assets/crew/background-crew-mobile.jpg);
}

@media (min-width: 641px) {
	:root {
		---home-Background-Image: url(../assets/home/background-home-tablet.jpg);
		---technology-Background-Image: url(../assets/technology/background-technology-tablet.jpg);
		---destination-Background-Image: url(../assets/destination/background-destination-tablet.jpg);
		---crew-Background-Image: url(../assets/crew/background-crew-tablet.jpg);
	}
}

@media (min-width: 1008px) {
	:root {
		---home-Background-Image: url(../assets/home/background-home-desktop.jpg);
		---technology-Background-Image: url(../assets/technology/background-technology-desktop.jpg);
		---destination-Background-Image: url(../assets/destination/background-destination-desktop.jpg);
		---crew-Background-Image: url(../assets/crew/background-crew-desktop.jpg);
	}
}
