:root {
  --background-color: #e1e1e1;
  --color-border-shadow: #ccc;
  --color-background: #fff;
  --color-light-text: #ffffff;

  --color-scramble-text: #25528f;
  --color-guess-space: #ffb74d;
  --color-guess-correct: #4caf50;
  --color-guess-next: #388e3c;
}
