:root {
  --viewHeight: 90vh;
  --viewWidth: 55vw;

  --space-50: 0.5rem;
  --space-100: 0.75rem;
  --space-200: 1rem;
  --space-300: 1.25rem;
  --space-600: 1.5rem;
}

@media (max-width: 576px) {
  :root {
    --viewWidth: 95vw;
    --space-100: 0.5rem;
  }
}
